<div class="form-group">
    <label for="title">Title</label>
    <input required type="text" name="title" id="title">
    <label for="description">Description</label>
    <textarea placeholder="description" required type="text" name="description" id="description"></textarea>
    <label for="write-here">write here</label>
    <textarea required type="text" name="write here"placeholder="Write here" id="write here"></textarea>
    <button type="submit">Save</button>
    <a href="/blogs" class="cancel-button">Cancel</a>
</div>