<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="css/blog.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
      integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <title>Blogs-Now | Home</title>
  </head>
  <body>
    <header>
      <div class="Navbar">
        <div class="logo-image" class="nav-obj"></div>
        <div id="logo-text" class="nav-obj">Blogs Now</div>

        <div class="nav-obj pages-link">
          <i class="fa-solid fa-house"></i>
          <a href="http://localhost:3001/blog">Home</a>
        </div>
        <div class="nav-obj pages-link">
          <i class="fa-solid fa-feather"></i>
          <a href="#">Trending</a>
        </div>
        <div class="nav-obj pages-link">
          <i class="fa-solid fa-wifi"></i>
          <a href="#">Your interests</a>
        </div>
      </div>
    </header>
    <!-- Navbar ends -->
    <div class="newpost">
      <a href="/blog/newarticles" type="button">New Blog</a>
    </div>
    <p class="sub-heading">Latest Posts</p>
    <div class="new-blog">  
    <div class="dropdown">
      <button class="dropbtn"><i class="fa-solid fa-caret-down"></i></button>
      <div class="dropdown-content">
        <a href="blog/edit"><i class="fa-solid fa-pen"></i>Edit</a> 
        <a href="blog/delete"><i class="fa-solid fa-trash"></i>Delete</a>
      </div>
    </div>
    <div class="readMore"><a href="blog/readMore">Read More</a></div>
   </div>
      <p class="blog-heading"></p>
      <p class="blog-description"></p>
      <p class="blog-date"></p>
      
    </div>
  </body>
  </html>
  
 