<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="css/Home.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
      integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <title>Blogs-Now</title>
  </head>
  <body>
    <header>
      <div class="Navbar">
        <div class="logo-image" class="nav-obj"></div>
        <div id="logo-text" class="nav-obj">Blogs Now</div>

        <div class="nav-obj pages-link">
          <i class="fa-solid fa-house"></i>
          <a href="#">Home</a>
        </div>
        <div class="nav-obj pages-link">
          <i class="fa-solid fa-feather"></i>
          <a href="#">Trending</a>
        </div>
        <div class="nav-obj pages-link">
          <i class="fa-solid fa-wifi"></i>
          <a href="#">Your interests</a>
        </div>
        <a href="/login" class="buttons nav-obj">Login</a>
        <a href="/signup" class="buttons nav-obj">Signup</a>
      </div>
    </header>
    <!-- Navbar ends -->
    <div class="intro-container">
      <div class="intro">
        <p>
          "Welcome to our vibrant blogging community, your go-to destination for
          a daily dose of insightful thoughts, creative ideas, and engaging
          stories. Whether you're a seasoned wordsmith or a budding writer, this
          platform invites you to share your unique perspectives and passions
          with a global audience. Explore a diverse range of topics, from travel
          and technology to art and personal experiences - there's something
          here for everyone. Join us in celebrating the power of words and the
          beauty of sharing as we embark on a journey of discovery, connection,
          and inspiration, one blog post at a time. Happy reading and happy
          writing!"
        </p>
        <p>You must Login/Signup to continue in the website!</p>
      </div>
      
    </div>
    <footer>
      <div class="Contact">
        <label for="Contact">Contact Us</label>
        <a class="nav-obj" href="#"
          ><i class="fa-brands fa-facebook" style="color: #2b3a54"></i
          >Facebook</a
        >
        <a class="nav-obj" href="#"
          ><i class="fa-brands fa-instagram" style="color: #f72665"></i
          >Instagram</a
        >
        <a class="nav-obj" href="#"
          ><i class="fa-brands fa-linkedin"></i>Linkedin</a
        >
      </div>
    </footer>
    <script src="js/Home.js"></script>
  </body>
</html>
